.models{
    width:1600px;
    margin: 0 auto;
    background: white;
    height: 900px;
    .box{
        width: 1200px;
        margin: 0 auto;
        height: 1000px;
        // position: relative;
        // top: 100px;
        .head{
            position: relative;
            top: 100px;
            text-transform: uppercase;
            font-size: 30px;
            color: gray;
            button{
                border:none;
                position: relative;
                left: 1050px;
                top: -52px;
                font-size: 20px;
                width: 150px;
                height: 50px;
                background: rgba(85, 134, 143, 0.678);
                color: #fff;
                text-transform: uppercase;
                font-size: 15px;
            }
        }
        .different{
            // background: lightgray;
            height: 250px;
            position: relative;
            top: 150px;
            .choose{
                // background: lightgreen;
                display: grid;
                grid-gap:20px;
                grid-template-columns: repeat(4,280px);  
                height: 570px; 
               
               .image-block{
                //    background: purple;
                   height: 550px;
                   display: grid;
                   grid-template-rows: 1fr 1fr 2fr 2fr;
                   .img{
                        height: 250px;
                        img{
                            width: 280px;
                            height: 250px;
                        }
                        h3{
                            text-transform: uppercase;
                            position: relative;
                            bottom: 240px;
                            left: 10px;
                            color: gray;
                        }
                   }    
                    .sm-icon{
                        position: relative;
                        bottom: 60px;
                        .ic{
                            .name{
                                float: left;
                                padding: 10px;
                                font-size:20px;
                            }
                           
                        }
                    }
                    .table2{
                    color: lightsalmon;
                    font-size: 15px;
                    text-align: center;
                    background: lightslategray;
                    padding: 20px 0px;
                    // height: 20px;
                    text-transform: uppercase;
                    }     
                    .price-table{
                        height: 150px;
                        // background:lightsteelblue;
                        border-collapse: collapse;
                        // margin: -50px 0;     
                        font-size: 20px;  
                        // position: relative;
                        // bottom: 20px;  
                      tbody{
                            tr{
                                border-bottom: 1px solid #dddddd;
                                td{
                                    padding: 12px 15px;
                                } 
                            }
                            tr:nth-of-type(odd){
                                background: #f3f3f3;
                            }
                            tr:nth-of-type(even){
                                background: #837d7d;
                            }   
                       }                      
                    } 
                    .button{
                        background: #837d7d;
                        height: 100px;
                        button{
                            width:140px;
                            height: 50px;
                            margin:20px 65px;
                            border: none;
                            text-transform: uppercase;
                            background: lightslategray;
                            color: white;
                        }
                    }            
               }
            }
        }    
    }
}