.notice-board{
    width: 1600px;
    margin: 0 auto;
    background: rgb(175, 166, 166);
    height: 800px;
    .box{
        width: 1200px;
        // background: gray;
        margin: 0 auto;
        // height: 400px;
        .title{
            color: green;
            text-transform: uppercase;
            position: relative;
            top: 60px;
            height: 100px;
            font-size: 20px;
            padding: 30px 0px;
            span{
                color: rgb(3, 143, 207);
                margin-left: 1000px;
                margin-top: -40px;
                font-size: 30px;
                display: grid;
                grid-template-columns: repeat(2 , 50px);
                grid-gap: 10px;
                text-align: center;
                i{
                    background: yellow;
                    height: 30px;
                    padding: 10px 0px;
                }
            }
        }
        .template{
            // background: red;
            height: 550px;
            position: relative;
            top: 80px;
            height: 53
            0px;
            .grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr 1fr;
                // grid-gap: 10px;
                .gr-1{
                    background: green;
                    background-image: url(./images/no1.jpeg);
                 
                  .span{
                      background: gray;
                      width: 55px;
                      height: 55px;
                      position: relative;
                    //   bottom: 199px;
                      left: 238px;
                      font-size: 15px;
                      text-align: center;
                      text-transform: uppercase;
                      color: white;
                  }
                }
                .gr-2{
                    background: rgb(80, 117, 141);
                    padding: 50px 20px;
                    color: white;
                    h1{
                        text-transform: uppercase;
                        font-size: 22px;
                    }
                    p{
                        padding: 20px 0px;
                    }
                }
                .gr-3{
                    background-image:url(./images/no2.jpeg);
                    border: 8px solid white;
                    img{
                        width:100%;
                    }
                  .span{
                      background: gray;
                      width: 55px;
                      height: 55px;
                      position: relative;
                    //   bottom: 195px;
                      left: 230px;
                      font-size: 15px;
                      text-align: center;
                      text-transform: uppercase;
                      color: white;
                   }
                }
                .gr-4{
                    color: white;
                   font-size: 15px;
                   text-transform: uppercase;
                    background: lightgray;
                    padding: 30px 0;
                    i{
                        padding: 10px 30px;
                   
                    }
                    button{
                        width: 150px;
                        height: 50px;
                        color:white;
                        text-align: center;
                        position: relative;
                        left: 70px;
                        top: 50px;
                        text-transform: uppercase;
                        font-weight: bold;
                        border: none;
                        background:greenyellow;
                        font-size: 15px;
                    }
                }
                .gr-6{
                    background-image: url(./images/no5.jpeg);
                  
                  .span{
                      background: gray;
                      width: 55px;
                      height: 55px;
                      position: relative;
                    //   bottom: 199px;
                      font-size: 15px;
                      text-align: center;
                      text-transform: uppercase;
                      color: white;
                   }
                }
                .gr-8{
                    background-image: url(./images/no4.jpeg);
                    .span{
                        background: gray;
                        width: 55px;
                        height: 55px;
                        position: relative;
                      //   bottom: 199px;
                        font-size: 15px;
                        text-align: center;
                        text-transform: uppercase;
                        color: white;
                     }
                }

                
            }
        }
        
    }
}