.option{
    width: 1600px;
    height: 600px;
    background: rgb(154, 175, 187);
    margin: 0  auto;
    .slide{
        display: grid;
        grid-template-rows: 1fr 1fr;
        height: 400px;
        .head{
            width: 300px;
            position: relative;
            top:80px;
            height: 500px;
            color: white;
            h1{
                text-transform: uppercase;
                // padding:50px 0;
                b{
                    color: rgb(47, 255, 47);
                }
            }
            p{
                position: relative;
                top: 50px;
            }
        }
        button{
            width: 150px;
            height: 50px;
            color: white;
            background: none;
            border: 2px solid greenyellow;
            position: relative;
            top:100px;
            text-transform: uppercase;
            font-size: 15px;
        }
        .end{
            background:white;
            height: 100px;
        }
    }
}